body {
  font-family: 'Segoe UI', sans-serif;
  background: #65a30d;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input {
  display: inline-block;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background: #ecfccb;
  
  &:focus {
    background: white;
  }
}

button {
  display: inline-block;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  color: white;
  background: #3f6212;

  &:hover {
    background: #365314;
  }

  &:active {
    background: #1a2e05;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

.wrapper {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
}

header {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  height: 40px;
}

header .app-logo {
  padding-left: 12px;
  display: flex;
  align-items: center;
  color: #ecfccb;
}

header .toolbar,
header .secondary-toolbar {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 12px;
}

h1 {
  margin: 0;
  padding: 6px;
  padding-right: 12px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

textarea {
  color: #292524;
  font-family: 'JetBrains Mono', monospace;
  font-size: 10px;
  line-height: 1.5;
  padding: 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: outline 0.075s ease-out;

  &:focus {
    outline: none;
  }

  &:placeholder-shown {
    font-size: 14px;
  }
}

#input {
  resize: horizontal;
  margin-left: 6px;
  margin-right: 6px;
  width: 70vw;
  min-width: 15vw;
  max-width: 80vw;
}

#output {
  background: #ecfccb;
  margin-right: 6px;
  resize: none;
}

.statusbar {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr auto;
  color: white;
  height: 40px;
}

.data-info {
  display: flex;
  align-items: stretch;
  font-weight: 600;

  & > * {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 4px 12px;
  }
}

.failed-count {
  background: #b91c1c;
  color: #fee2e2;
}

.done-count {
  background: #a16207;
  color: #fef9c3;
}

.success-count {
  background: #15803d;
  color: #dcfce7;
}

.running-count {
  background: #7e22ce;
  color: #f3e8ff;
}

.unknown-count {
  background: #555;
  color: #eee;
}

.progress {
  display: inline-grid;
  width: 200px;
  height: 12px;
  padding: 0;
  border: 1px solid #365314;
  border-radius: 4px;
  overflow: hidden;
}

.progress-success {
  background: #4ade80;
}

.progress-done {
  background: #facc15;
}

.progress-failed {
  background: #f87171;
}

.progress-running {
  background: #c084fc;
}

.confluence-headline {
  background: #d9f99d;
  color: black;
  font-weight: normal;
  margin-right: 8px;
}

.statusbar-buttons {
  display: flex;
  gap: 4px;
  padding: 0 4px;
}

#branch-input {
  width: 100px;
}

.statusbar-links {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.statusbar-links a {
  color: white;
}
